.store-cart-page {
    h1 {
        text-align: center;
        width: 100%;
    }

    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1em;
        flex-direction: row;
    }
}